  #{{ ansible_managed }}
  *filter
  # Remove all rules and chains.
  -F
  -X

  # Accept traffic from loopback interface (localhost).
  -A INPUT -i lo -j ACCEPT

  # Open ports.
  {# Add a rule for each open port #}
  {% for port in firewall_allowed_tcp_ports %}
  -A INPUT -p tcp -m tcp --dport {{ port }} -j ACCEPT
  {% endfor %}
  {% for port in firewall_allowed_udp_ports %}
  -A INPUT -p udp -m udp --dport {{ port }} -j ACCEPT
  {% endfor %}

  # Accept icmp ping requests.
  -A INPUT -p icmp -j ACCEPT

  # Allow NTP traffic for time synchronization.
  -A OUTPUT -p udp --dport 123 -j ACCEPT
  -A INPUT -p udp --sport 123 -j ACCEPT

  # Additional custom rules.
  {% for rule in firewall_ip6_additional_rules %}
  {{ rule }}
  {% endfor %}

  # Allow established connections:
  -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

  # Log EVERYTHING (ONLY for Debug).
  # -A INPUT -j LOG

  {% if firewall_log_dropped_packets %}
  # Log other incoming requests (all of which are dropped) at 15/minute max.
  -A INPUT -m limit --limit 15/minute -j LOG --log-level 7 --log-prefix "Dropped by firewall: "
  {% endif %}

  # Drop all other traffic.
  -A INPUT -j DROP
  COMMIT